<div class="field">
  <p>Total Vowels in String :<%= @total_vowels_count %></p>
  <p>Is Bad Words Available :<%= @is_bad_words_included %></p>
  <p>Is Correct Symbol :<%= @is_correct_symbol %></p>
</div>
